html body {
  height: 100%;
  margin: 0;
  font-family: "Fredericka the Great", cursive;
}

body {
  background: #000;
}

#banner {
  color: white;
  width: 100%;
  height: 50px;
}

.title {
  display: inline-block;
  width: calc(100% / 3);
  box-sizing: border-box;
  font-size: 2.5em;
  padding-left: 20px;
}

.button {
  vertical-align: middle;
  margin: 0;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: transparent;
  font-family: inherit;
  font-size: 0.5em;
  cursor: pointer;
  color: white;
}

button:focus {
  outline: 0;
  box-shadow: 2px 2px rgba(255, 255, 255, 0.5),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.button:hover {
  box-shadow: 2px 2px rgba(255, 255, 255, 0.5),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.button:active {
  box-shadow: none;
}

.centerBanner {
  display: inline-block;
  width: calc(100% / 3);
  text-align: center;
  font-size: 2.5em;
}

.hide {
  display: none;
}

#bannerTwo {
  color: white;
  width: 100%;
  height: 50px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  border: 1px solid white;
  width: 150px;
  height: 150px;
  color: white;
  text-align: center;
  font-size: 4em;
}

.top-grid {
  border-top: none;
}

.bot-grid {
  border-bottom: none;
}

.left-grid {
  border-left: none;
}

.right-grid {
  border-right: none;
}
